<nav class="bg-cyan-400 h-16">
  <div class="flex flex-row h-full">
    <div class="basis-full sm:basis-2/12 flex items-center">
      <a
        class="mx-auto text-2xl font-extralight"
        href="javascript:void(0)"
        (click)="navService.goHome()"
        >Frans</a
      >
    </div>
    <div class="basis-full sm:basis-1/12 flex items-center">
      <a
        class="font-extralight text-base"
        href="javascript:void(0)"
        (click)="navService.goToMetronome()"
        >Metronome</a
      >
    </div>
    <!-- <div class="basis-10/12"></div> -->
  </div>
</nav>
